.hero-section {
  padding: 2rem;
  margin: 2rem;
  background-image: url("./toy-rocket.gif");
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: 5.625rem -12.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2.5rem;
}

.hero-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.25rem;
  max-width: 583px;
  padding-bottom: 5rem;
}

.hero-text-img {
  display: flex;
  align-items: center;
}

.hr-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hr {
  height: 6px;
  width: 100%;
  background: linear-gradient(90deg, white, black);
  border: none;
  margin-left: 2rem;
}
