.team-section {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr;
  border: none;
  margin: 100px 2rem;
}

.team-header-text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;

    border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2.5rem;
  padding: 2rem 0;
}

.team-text {
  font-size: 0.75rem;
}

.team-profession {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

.team-name {
  font-size: 1.5rem;
}

.team-button {
  padding: 1.5rem;
  border-radius: 1.25rem;
  margin-right: 0.75rem;
  border: none;
}

.right-button {
  transform: rotate(180deg);
}
