.swiper-section{
  padding: 0;
  margin: 0;
}

.capabilies-div {
  position: absolute;
  max-width: 453px;
  bottom: 2rem;
  left: 2rem;
}

.swiper {
  position: relative;
  width: 1440px;
  height: 836px;
}

.swiper-slide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --swiper-navigation-color: white;
  --swiper-pagination-color: white;
}
