ul, body, h2, h3{
margin: 0;
padding: 0;
}


li{
    list-style: none;
}

:root {
  font-family: Rubik, system-ui, Arial, sans-serif;
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
}

a:link , a:visited {
  text-decoration: none;
  color: white;
}

a:hover , a:active {
  text-decoration: underline;
}

h2{
  margin: 0;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

section{
    margin: 2rem;
}